<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.TestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/api/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/api/user/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectsController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.ProjectsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectsController</servlet-name>
        <url-pattern>/api/projects/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TagsController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.TagsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagsController</servlet-name>
        <url-pattern>/api/tags/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SkillsController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.SkillsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkillsController</servlet-name>
        <url-pattern>/api/skills/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.ApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/api/applications/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContributionsController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.ContributionsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContributionsController</servlet-name>
        <url-pattern>/api/contributions/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.example.colabplatform.controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/api/admin/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ValidateJWTAccessTokenFilter</filter-name>
        <filter-class>com.example.colabplatform.filters.ValidateJWTAccessTokenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValidateJWTAccessTokenFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserIdentificationFilter</filter-name>
        <filter-class>com.example.colabplatform.filters.UserIdentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserIdentificationFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.example.colabplatform.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/api/admin/*</url-pattern>
    </filter-mapping>
</web-app>
